@font-face {
    font-family: my-custom-font;
    src: url(../fonts/Norse-Bold.otf);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    background-color: rgb(241, 241, 241);
    z-index: -2;
}

.card-container {
    width: 30%;
    height: 100%;
}

.card-image {
    position:absolute;
    width: 30%;
    height: 100%;
}

.card-body {
    position: absolute;
    background: black;
    opacity: 0.6;
    color: white;
    font-family: my-custom-font;
    text-align: center;
    width: 30%;
    height: 150px;
    margin-top: 9%;
    display: flex;
}

.card-logo {
    padding-left: 30%;
    align-self: center;
    padding-top: 10px;
    width: 100px;
    height: 120px;
    color: white;
}

.card-text {
    align-self: center;
    font-size: 4rem;
}

.card-footer {
    font-size: 0.8rem;
    color: white;
    padding-left: 33%;
    margin-top: 150%;
}

.card-footer a:visited {
    color:white;
}

.content-container {
    width: 70%;
    height: 100%;
}

.introduction {
    margin-top: 10%;
    padding-left: 40px;
}

.introduction p {
    font-size: 1.2rem;
    width: 640px;
    word-wrap: break-word;
}

.signup {
    padding: 50px;
    background-color: white;
}

.info-row {
    display: flex;
    gap: 50px;
    align-items: center;
}

.info-row div {
    display: flex;
    flex-direction: column;
}

.submission {
    margin-top: 2%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.submission div {
    display: flex;
    align-items: center;
}

.submission a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.submission a:hover {
    text-decoration: underline;
}

p {
    font-weight: bold;
}
p.logo {
    font-size: 5rem;
    font-family: my-custom-font, sans-serif;
}

span.info-row {
    display: inline-block;
    width:100px;
}

div.main-content {
    position:right;
}

button {
    margin-top: 10px;
    width: 17%;
    padding: 14px;
    background-color: #596D48;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 1.1rem;
}

input {
    padding: 4px 30px;
    border-radius: 5px;
    border-color: #E5E7EB;
    outline:none;
}

input:invalid {
    border-color: red;
    background-color: #ffe6e6;
}